.container-single-blog h1 {
    background-image: linear-gradient(to bottom, #00ff91, rgb(27, 104, 57));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center; /* Center align text if needed */
    /* You can add more styles like padding, margin, etc. here */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px 100px;
}

.container-single-blog {
    display: flex;
    justify-items: center;
}

.container-single-blog img{
    object-fit: cover;
    width: 80%;
    border-radius: 10px;
}

.container-single-blog {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-wrap: wrap;
}

.authors {
    font-style: italic;
}

.img-center {
    text-align: center;
}

.container-single-blog .card {
    width: 25%;
    --bg: #fff;
    --contrast: #fff;
    --grey: #fff;
    position: relative;
    padding: 9px;
    background-color: var(--bg);
    position: sticky;
  }
  
  .post-content {
    width: 70%;
    text-align: center;
  }
  .container-single-blog .card-overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: repeating-conic-gradient(var(--bg) 0.0000001%, var(--grey) 0.000104%) 60% 60%/600% 600%;
    filter: opacity(10%) contrast(105%);
  }
  
 .container-six.card-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 190px;
    height: 254px;
    background-color: var(--contrast);
    border-radius: 30px;
    /* Content style */
    font-size: 20px;
    font-weight: 900;
    color: #c7c4c4;
    text-align: center;
    font-family: monospace;
  }
  .container-single-blog .card {
    width: 30%;
    height: 120px;
    margin: 30px;
    background: #fff;
    border:1px solid #31572c;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    color: #31572c;
    border-radius: 15px;
    box-shadow: -20px 20px 0px -5px #31572c;
  }
  .container-single-blog .card__tags {
    overflow: auto;
    height: 80%;
  }
  .container-single-blog .title {
    font-weight: 900;
    font-size: 1.7em;
  }
  
  .container-single-blog .tag__name {
    display: inline-block;
    color: #fff;
    font-size: 0.7em;
    background-color: #31572c;
    padding: 6px 23px 9px;
    border-radius: 70em;
    margin: 8px 6px 8px 0;
    margin-left: 0px;
    position: relative;
    text-transform: lowercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .container-single-blog .tag__name::before,
  .container-single-blog .tag__name::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 40%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #90a955;
  }
  
  .container-single-blog .tag__name::before {
    left: 5px;
  }
  
  .container-single-blog .tag__name::after {
    right: 5px;
  }
  
  .container-single-blog .tag__name:hover {
    transform: scale(1.1);
    background-color: #51572c;
  }
  
  .title-img {
    font-size: 12px;
   color: lightgray;
   font-style: italic;
  }

.latest {
}

  .latest .card {
    position: relative;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fffbfb80;
  }
  
  .latest .card svg {
    width: 48px;
    fill: #333;
  }
  
 
  
  .latest .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    transform-origin: bottom;
  }

  
 .latest .card__title {
    margin: 0;
    font-size: 12px;
    color: #333;
    font-weight: 700;
  }
  
 .latest .card:hover svg {
    scale: 0;
  }
  
 .latest .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  

.latest-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}